body {
    background-image: url('resources/images/red_bull_rb18_2022_formula_1_4k_hd_cars-2560x1440.jpg');
    background-size: cover;
    background-position: center;
    /* Other background properties can be added as needed */
}
